<% // unread %>

<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://www.ginnyq.me" target="_blank" title="江南小秋">江南小秋</a></li>
      <li><a href="http://www.sustack.com" target="_blank" title="一江风">一江风</a></li>
    </ul>
</div>
