#unityciList
  section
    float left
    // position relative
    //background color-section
    // margin-bottom 0.125em
    margin 0.45em
    padding 0.25em
    a
      background-color color-section
      width 300px
      display block
      border-bottom 0.5em solid color-gray
      transition border-bottom .45s
      padding 0
      &:hover
        border-bottom 0.5em solid color-theme
      img
        display block
        width 300px
        height 200px
      p
        padding-left 1em
        display block
        width auto
        color color-black
        line-height line-height+0.5

