<%// unread %>

<div id="main">
<% page.posts.each(function(post){ %>
  <%
  var isUnityCI = false;
  post.tags.each(function(t){
    if ( t.name === "_unityci")
    {
      isUnityCI = true;
    }
  });
  %>
  <% if(!isUnityCI){%>
  <%- partial('_partial/article', {item: post, index: true,desc: true}) %>
  <%}%>
<% }); %>
<% if (page.total > 1){ %>
  <nav id="page-nav" class="clearfix">
    <%- paginator({
      prev_text: '&laquo; Prev',
      next_text: 'Next &raquo;'
    }) %>
  </nav>
<% } %>
</div>