// color
// color-background = #dddddd
color-background = #f7f7f7
color-white = #ffffff
color-theme = #40C8F6     // 
// color-font-nav =#E9CD4C
color-font-nav =#ffffff
// color-gray = #CCC
color-gray = #EEE

color-black = #000

color-font = #817c7c
color-blue = #2ca6cb
color-section = #fafafa
color-footer = #1f1f1f
color-heading = #333333
color-code = #eee
color-twitter = #00aced
color-facebook = #3b5998
color-weibo = #eb182c
color-google = #dd4b39
color-qrcode= #49ae0f
color-top = #762c54

// media -- 用于屏幕宽度适配
width-phone = 568px
width-mini = 768px
width-tablet = 800px
width-desktop = 1560px
phone = "only screen and (min-width: " + width-phone + ")"
mini = "only screen and (min-width: " + width-mini + ")"
tablet = "only screen and (min-width: " + width-tablet + ")"
desktop = "only screen and (min-width: " + width-desktop + ")"

// font
font-default = "Helvetica Neue", "Helvetica", "Microsoft YaHei", "WenQuanYi Micro", Arial, sans-serif
ShowCustomFont = hexo-config("ShowCustomFont")
font-size = 100%
line-height = 1.5

font-custom-family = "covered_by_your_graceregular"
font-custom-filename = coveredbyyourgrace-webfont

font-icon-family = "FontAwesome"
font-icon-filename = fontawesome-webfont
font-icon-version = "4.0.3"

// image
author-img = hexo-config("authorImg")
root = hexo-config("root")

dataURI = hexo-config("dataURI")
//author-img-data = unquote(hexo-config("author_img_data"))
ShowGallery = hexo-config("ShowGallery")


// comment
duoshuo = true

// highlight
highlight = hexo-config("highlight.enable")